*{
  font-size: large;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header{
  /*padding-left: 50px;*/
  margin: 0;
  height: 100px;
  background-color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
p{
  line-height: 200%;
}
body{
  background-image: url("../images/ep_naturalwhite.png");
  background-repeat: repeat;
  /*width: 960px;*/
}
#left-sec{
  background-color: #4aaaa5;
  width:275px;
  height: 80px;
  padding-left: 0px;
  padding-top: 10px;
  margin-left: 25px;
  margin-top: 10px;
  float:left;
  text-align: center;
}

#right-sec{
  background-color: #ffffff;
  width:300px;
  height: 80px;
  float: left;
  margin-left: 275;
  color:#808080;
  text-align: center;
}
#content{
  height:80px;
  position:relative;
  top:50%;
  display: table;
}
.hyplinks{
  display: table-cell;
  padding-left: 20px;
}
article{
  float:left;
  padding:30px 20px 20px 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
  width: 600px;
}
hr{
  color: #dddddd;
  fill: #dddddd;
}

#img-nick{
  width:180px;
  float:left;
  padding-right: 20px;
}
aside{
  background-color: white;
  float:left;
  margin-left: 20px;
  margin-top: 20px;
  padding:30px 20px 20px 20px;
  width: 140px;
}
h2{
  color:#4aaaa5;
  font-size: 25px;
}
aside h3{
  font-size: 20px;
  color:#4aaaa5
}
aside img{
  width:30px;
}
a:link{
  color:#808080;
}
h1{
  color:white;
  font-size: 30px;
  padding-top: 20px;
}
footer{
  border-top-color:#4aaaa5;
  border-top-width: medium;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #666;
  height:50px;
}
footer p{
  width:100%;
  text-align: center;
  color:#b6c7bf;
}
