*{
  font-size: large;
}
header{
  padding-left: 50px;
}
#left-sec{
  background-color: #4aaaa5;
  width:33%;
  height: 80px;
  padding-left: 0px;
  float:left;
  text-align: center;
}

#right-sec{
  background-color: #ffffff;
  width:33%;
  height: 80px;
  float: right;
  color:#808080;
  text-align: center;
}
#content{
  height:80px;
  position:relative;
  top:50%;
  display: table;
}
.hyplinks{
  display: table-cell;
  padding-left: 20px;
}
a:link{
  color:#808080;
}
h1{
  color:white;
  font-size: 30px;
}
.mainbody{
  clear: both;
}
